@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

/* set initial color */
:root{
    --blue: #0065fc;
    --lightblue: #deebff;
    --grey: #f2f2f2;
    --black: #000;
}

/* header */

header{
    height: 130px;
}

nav a{
    float: right;
    text-decoration: none;
    font-family: "raleway", sans-serif;
    Padding-top: 30px;
    color: var(--blackff);
    margin-right: 40px;
}

h1{
    float: left;
    padding-left: 40px;
    padding-top: 30px;
    font-family: "raleway" , sans-serif;
    color: var(--blue);
}

nav a:hover {
    border-top: 2px solid var(--blue);
    color: var(--blue)
}

header h1{
  color: var(--blue);
  font-family: 'Rancho', cursive;
  font-size: 26px;
}

/* search bar */

/* accomodation section */

.accom{
    width: 70%;
    background-color: var(--grey);
    height: 450px;
    padding:20px;
    margin-bottom: 30px;
    float: left;
    margin-left:20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.accom-title{
    padding-bottom: 20px;
    padding: left 5px;
}


/* card */

.accom-card{
    height:180px;
    width: 200px; 
    background-color: #fff; 
}

.accom-card img{
    height:100px;
    width:200px;
    border-radius: 20px 20px 0px 0px;  
}

.card-text{
    padding-left: 10px;
    line-height: 18pt;
}



/* most popular */

.popular{
    width: 25%;
    height: 450px;
    float: right;
    background-color: var(--grey);
    margin-right: 20px;
    border-radius: 10px;
    padding:20px;
}

#star{
    float:right;
    padding-top:0;
}

.popular-title{
    float: left;
}

/* image card */

/* image section */


/* footer */

.footer-container{
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    padding: 30px;
    line-height: 22pt;
}
 
h3{
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
}

p{
    color: var(--black);
    font-family: 'Raleway', sans-serif;

}