@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

/* set initial styles */
:root {
    --blue: #0065fc;
    --lightblue: #deebff;
    --grey: #f2f2f2;
    --black: #000; 
    font-family: "raleway", sans-serif;
}

.container{
    max-width: 1200px;
    padding: 20px;
    margin:auto;
}

a{
    text-decoration: none;
}

/* header section */

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-image{
    height: 50px;
    margin-left: -20px;
}

nav a {
    text-decoration: none;
    padding: 30px 20px 0px 20px;
    color: var(--black);
}

nav a:hover {
    color: var(--blue);
    border-top: 3px solid var(--blue);
}

ul{
    display: flex;
}

/* search */

.search-container{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}

.search{
    display: flex;
    flex-direction: row;
    background-color: white;
    width:28%;
    align-items: center;
    justify-content: left;    
}

.search i{
     display: flex;
     justify-content: center;
     align-items: center;
     color: var(--black);
     background-color: var(--grey);
     font-weight: bolder;
     height: 40px;
     width: 60px;
     padding: 15px;
     font-size: 20px;
     border-radius: 10px 0px 0px 10px;
}

input[type=submit] {
    background-color: var(--blue);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    float: right;
    font-size:18px;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
}

input[type=submit]:hover {
    background-color: var(--lightblue);
    color: var(--blue);
}

input[type=text]{
    padding-top: 11px;
    padding-bottom:11px;
    padding-right: 20px;
    padding-left: 10px;
    border: 1px solid var(--grey)
}

::placeholder{
    font-weight: bolder;
    font-size: 15px;
    color: var(--black);
}

.filter-div{
    display: flex;
}

.info{
    display: flex;

    align-items: center;
}

.info i{
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-weight: bolder;
    border-radius: 50%;
    height:40px;
    width:40px;
    padding:15px;
    border: solid var(--grey) 1px;
    margin-right: 20px;
}

.btn{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 40px;
    align-items: center;
    border-radius: 30px;
    border: solid 1px var(--grey);
    margin-right: 20px;
    font-weight: bolder;
    font-size: 15px;
    padding-right: 15px;
}

.btn i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    background-color: var(--lightblue);
    font-weight: bolder;
    border-radius: 50%;
    height: 40px;
    width: 45px;
    padding: 15px;
    margin-right: 20px;
    font-size: 20px;
    margin-left: -6px;
}

.btn:hover i {
    border: 2px solid var(--blue);
}

.btn h2 {
    font-size: 14px;
}

.filters{
    display: flex;
    align-items: center;  
}

 .filters h3 {
     padding-right: 30px;
}

/*  accom */

.main-container{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.accom-container{
    width:65%;
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 20px;
    justify-content: space-evenly;
}

.accom-container h4{
    font-size: 16px;
    font-weight: 800;
    padding-left: 10px;
}

.accom-1{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 38%;
    justify-content: space-evenly;
}

.accom-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:38%;
    justify-content: space-evenly;
}

.accom-container h2{
    padding-left: 15px;
}

.accom-container a{
    text-decoration: none;
    color: var(--black);
}

.accom-container a:hover{
    color: var(--blue);
}

.accom-card{
    display:flex;
    flex-direction: column;
    background-color: white;
    width:30%;
    border-radius: 20px;
    justify-content: space-between;
    align-items: flex-start;
    border: white solid 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.accom-card a{
    text-decoration: none;
    padding-left:10px;
    font-weight: bolder;
    font-size: 18px;
    color: var(--black);
}

.accom-card a:hover{
    color: var(--blue);
}

.accom-card img{
    height:60%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


.accom-card p{
    padding-left: 10px;
}

.accom-card .five-stars{
    padding-left:10px;
    font-size: 16px;
}

strong{
    font-weight: 900;
}

/* popular section */

.popular-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:33%;
    background-color: var(--grey);
    border-radius: 20px;
}

.popular-cards{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-evenly; 
}

.heading-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:20px;
}

.heading-text i{
    font-size: 20px;
    color: var(--black);
}

/* popular card */

.popular-card{
    display: flex;
    flex-direction: row;
    margin: auto;
    width:90%;
    height:30%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.popular-card-text{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    width: 55%;
    padding: 10px;
    color: var(--black);
   
   
}

.popular-card img{
    width:45%;
    object-fit: cover;
    border-radius: 20px 0px 0 20px;
    border: white solid 4px;
    
}

.popular-card a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    color: var(--black);
}

.popular-card a:hover {
    color: var(--blue);
}

.five-stars{
    color: var(--blue);
}

.popular-card .four-stars{
    color: var(--blue);
    padding-left: 0;
}

.four-stars{
    color: var(--blue);
    padding-left: 10px;
}


.four-stars i:last-child{
    color: var(--grey);
    text-decoration: none;
}

.three-stars{
    color: var(--blue);
    padding-left: 10px;
    text-decoration: none;
}

.three-stars i:last-child{
    color: var(--grey);
    text-decoration: none;    
}

.three-stars i:nth-last-child(2){
    color:var(--grey)
}

/* activities */
.activities-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;
}

.activities-section h2{
    padding-bottom: 20px;
  
}

.activities-section a {
    text-decoration: none;
    color: var(--black);
}

.activities-section a:hover {
    color: var(--blue);
}

.activities-images {
    display:flex;
    height: 350px;
    flex-direction: row;
    justify-content: space-between; 
}

.image1 {
    display: flex;
    flex-direction: column;
    width:23%;
    height: 350px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    justify-content: space-evenly;   
}

.image1 img{
    height: 90%;
    object-fit: cover;
    margin-top: -10px;
    border-radius: 20px 20px 0px 0px;
    margin: -20px 0 0 0;
}

.image2{
    background-color: white;
    width: 23%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.image3{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px 20px 20px 20px;
    width: 23%;
    height:350px;
    justify-content: space-evenly;
}

.image3 img {
    height: 90%;
    margin-top: -10px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    margin:-10px 0 0 0;
}

.image4{
    display: flex;
    flex-direction: column;
    background-color: white;
    width:23%;
    justify-content: space-between; 
}

#island{
    height: 35%;
}

#island img{
 height: 100px;
 object-fit: cover;
}

#fort{
    height: 55%;
}

#fort img{
    height: 80%;
    object-fit: cover;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45%;
    width:100%;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px 20px 20px 20px;    
}

.card img{
    width:auto;
    height:130px;
    border-radius: 20px 20px 0px 0px;
    margin: -20px 0 0 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    object-fit: cover;
}

.activity-text{
    padding-left: 15px;
}

/* footer */

footer{
    background-color: var(--grey);
    width:100%;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    margin: auto;
    justify-content:space-between;
}

.footer-column{
    display: flex;
    flex-direction:column;
    line-height: 20pt;
    width: 32%; 
}

h3 {
    font-weight: bold;
    text-align: left;
}

p {
    color: var(--black);
    text-align: left;
}

h2{
    font-weight: bold;
    font-size: 20px;
}

/* media queries for tablets max width 991px */

@media screen and (max-width: 991px){

/* header section */

    header {
        margin: auto;
        padding-top: 20px;
    }

    .header-image {
        margin-left: 4px;
    }

 /* search */

    .search-container {
        display: flex;
        flex-direction: column;
        width:100%;
        margin: auto;
        justify-content: space-evenly;
        text-align: center;
    }

    .info{
        justify-content: center;
        width:100%;
    }

    .search-container p{
        text-align: center;
    }

    .search{
        width:100%;
        justify-content: center;
    }

    .filters {
        width:100%;
        flex-wrap: nowrap;
    }

/*  accom */

    .main-container {
        flex-direction: column-reverse;
        justify-content: center; 
        margin: auto;
        margin-bottom: 20px;
        padding: 20px;
    }

    .accom-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 0;
        justify-content: space-evenly;
        margin-top: 15px;
    }

    .accom-1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 38%;
        justify-content: space-evenly;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .accom-2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 38%;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    .accom-card {
        flex-direction: column;
        background-color: white;
        width: 30%;
        height:180px;
        border-radius: 20px;
        justify-content: space-between;
        border: white solid 5px;
    }

/* popular section */

    .popular-container {
        flex-direction: column;
        width:100%;
        margin: auto;
        border-radius: 0;
        background-color: var(--grey);
        padding-bottom: 20px;
    }

    .popular-cards{
        flex-direction: row;
    }

/* popular card */

    .popular-card {
        flex-direction: row;
        width: 30%;
        height: 120px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

/* activities */
    .activities-section {
        margin: auto;
        margin-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px
    }

/* footer */

    .footer-container {
        justify-content: space-between;
    }
}

/* media queries for mobile phones max width 768px */

@media screen and (max-width: 768px) {

    /* min width 290px max width 768px */

    html, body{
       overflow-x: hidden;
    }

    /* header */
    header{
        width: 100%;
        margin: auto;
        justify-content: center;
        flex-direction: column;
        height: unset;
    }

    header img{
      margin-bottom: 20px;
    }

    header nav{
        width:100%;
    }

    nav a {
        border-bottom: 3px solid var(--grey);
        padding-bottom: 10px;
        font-size: 20px;
        padding-right:50px;
        padding-left: 50px;
    }

    nav a:hover {
        color: var(--blue);
        border-bottom: 3px solid var(--blue);
        border-top: none;
    }

    nav li{
        width:50%;
    }

    nav li a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul {
        margin-bottom: 40px;
        flex-direction: row-reverse;
    }

    /* search container */
    .search-container{
        height: 350px;
        margin: auto;
        text-align: left;
        align-content: space-around;
        justify-content: space-evenly;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

    .search-container h2{
        margin-bottom: 10px;
    }
    .search-container p{
        margin-bottom: 10px;
    }

    .search{
        margin-bottom: 10px;
    }

    .btn{
        width:150px;
        margin-bottom: 10px;
    }

    .search-container p{
        text-align: left;
    }

    .filters{
        display: block;
        
    }

    .filters h3{
        margin-bottom: 20px;
    }

    .filter-div{
        display: flex;
    }

  .search{
       justify-content: left;
    }

    /* main section */

    .main-container{
        margin: auto;
        justify-content: center;
    }

    /* popular section */

    .popular-container{
        width:100%;
        margin: auto;
    }

    .popular-cards{
        flex-direction: column;
        width: 100%;
        margin: auto;    
    }

    .popular-card{
        width: 90%;
    }

    /* accomodation section */

    #Accomodations-In-Marseille{
        margin-bottom: 10px;
    }

    .accom-container{
        margin: auto;
        height: fit-content;
        align-content: space-evenly;
        padding-top:20px;
        padding-bottom: 20px;
    }

    .accom-1{
        flex-direction: column;
        margin-bottom: 0;
    }

    .accom-2{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .accom-card{
        width: 100%;
        margin-bottom: 10px;
    }

    .accom-card img{
        height: 55%;
    }

    .accom-card a{
        font-size: 16px;
    }

    .accom-card p{
        font-size:14px;
        font-weight: bolder;
    }

    .card {
        width: 300px;
        height: 200px;
        margin-bottom: 30px;
    }
    
    .card img {
        width: auto;
        height:70%;
    }

    .accom-container h2{
        padding-left: 0;
    }

    /* activity section */

    .image1 {
        width:100%;
        height: 200px;
        margin-bottom: 20px;
    }
        
    .image1 img {
        width: auto;
        height: 70%;
    }
    
    .image3 {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    .image2{
        width:100%;
    }
    
    .image3 img {
        width: auto;
        height: 70%;
    }

    #fort{
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        
    }

    #fort img{
        width:auto;
        height:140px;    
    }

    #island{
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    #island img{
        width:auto;
        height: 70%;
    }

    .image4{
        width: 100%;
    }

    .card{
        width: 100%;
        height: 200px;
    }

    .image2{
        align-items: space-around;
    }

    .activities-images{
        flex-direction: column;
        height: unset;
    }

    .activities-section{
        margin-bottom: 20px;
    }

/* footer section */

    .footer-container{
        margin-top: 20px;
        flex-direction: column;
        margin: auto;
    }

    .footer-column{
        padding:20px;
        width: 100%;
    }
}