@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
/* set initial styles */
:root{
    --blue: #0065fc;
    --lightblue: #deebff;
    --grey: #f2f2f2;
    --black: #000;

}
/*  change header to flex and rmove floats use flex on ul to make it look right add logo instead of text */
/* header */

header{
    height: 130px;
}

nav a{
    float: right;
    text-decoration: none;
    font-family: "raleway", sans-serif;
    Padding-top: 30px;
    color: var(--blackff);
    margin-right: 40px;
}

h1{
    float: left;
    padding-left: 40px;
    padding-top: 30px;
    font-family: "raleway" , sans-serif;
    color: var(--blue);
}

nav a:hover {
    border-top: 2px solid var(--blue);
    color: var(--blue)
}

header h1{
  color: var(--blue);
  font-family: 'Rancho', cursive;
  font-size: 26px;
}

/* search bar */

/* accomodation section */

h2{
    font-family: "raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.accom-section{width: 65%;
    background-color: var(--grey);
    padding: 40px;
    margin-bottom: 30px;
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}


.accom{
    display: flex;
    justify-content: space-evenly;
}

.accom2 {
    display: flex;
    justify-content: space-evenly;
}

.accom-title{
    align-self: flex-start;
    justify-self: flex-start;

}

.accom-bottom {
    margin-top: 20px;
}

/* card */

.accom-card{
    
    margin-top: 40px;
    height:200px;
    width: 250px; 
    background-color: #fff; 
    border-radius: 20px 20px 20px 20px;
    margin-left:30px;
    margin-right: 30px;
    

}

.accom-card img{
    height:100px;
    object-fit: cover;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width:240px;
    border-radius: 20px 20px 0px 0px;  
}

.card-text{
    padding-left: 10px;
    line-height: 18pt;
}



/* most popular */

.popular{
    width: 30%;
    float: right;
    background-color: var(--grey);
    margin-right: 20px;
    border-radius: 10px;
    padding:20px;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}
/* Need to work on alignment of text and star maybe block?? */

#star1{
    align-self: flex-end;
    justify-content: flex-end;
    margin-top: 0;
    padding-top: 0;
    
}

.popular-title{
    align-self: flex-start;
    justify-self: flex-start;
    padding: 0;
    margin: 0;

}

.popular-card {
    margin-top: 30px;
    height: 150px;
    width: 350px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    margin-left:10px;


}

.popular-card img{
   float:left;
   
    height:140px;
    margin-top: 5px;
    margin-left: 5px;
    width: 40%;
     border-radius: 20px 00px 0px 20px;
}

.popular-card-text {
    padding-right: 10px;
    padding-top: 10px;
    line-height: 18pt;
    float: right;
    width: 55%;
}

.popular-accom-stars{
    padding-top: 30px;
}

#morning-sun p {
    padding-bottom: 10px;
}

#morning-sun h3{
    padding-bottom: 20px;
}

#morning-sun img{
    object-fit: cover;
}

/* Activities section */

/* need to work on title of section alignment */
.gallery{
    margin-bottom: 40px;
    display: flex;
    width: 100%;
   justify-content: space-around;


}

#activity{
    margin-left: 24px;
    padding-top: 20px;
   float: left
}


/* Activities card */

.activity-card {

    margin-top: 20px;
    height: 420px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    margin-left: 20px;
    margin-right: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);


}

.activity-card img {
    height:360px;
    object-fit: cover;
   
    width: 300px;
    border-radius: 20px 20px 0px 0px;
}


.activity-card-text {
   padding-top: 15px;
   text-align:left;
   padding-left: 10px;

}



.section2{
    display: flex;
    flex-direction: column-reverse;
}


.section4 {
    display: flex;
    flex-direction: column;
}

.activity-card1 {

    margin-top: 20px;
    height: 160px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    margin-left: 20px;
    margin-right: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);


}

.activity-card1 img {
    height: 120px;
    object-fit: cover;

    width: 300px;
    border-radius: 20px 20px 0px 0px;
}


.activity-card1-text {
    padding-top: 15px;
    text-align: left;


}

.activity-card2 {
    height: 240px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    margin-left: 20px;
    margin-right: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);


}

.activity-card2 img {
    height: 200px;
    object-fit: cover;

    width: 300px;
    border-radius: 20px 20px 0px 0px;
}


.activity-card2-text {
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;


}

.activity-card3 {

    margin-top: 20px;
    height: 200px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    margin-left: 20px;
    margin-right: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);


}

.activity-card3 img {
    height: 150px;
    object-fit: cover;
    width: 300px;
    border-radius: 20px 20px 0px 0px;
}


.activity-card3-text {
    padding-top:10px;
    text-align: left;
    padding-left:10px;
    

}

/* image section */


/* footer */

.footer-container{
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-around;
    padding: 30px;
    line-height: 22pt;
    text-align: left;
}
 
h3{
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
}

p{
    color: var(--black);
    font-family: 'Raleway', sans-serif;

}