@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');


/* set initial color */
:root{
    --blue: #0065fc;
    --lightblue: #deebff;
    --grey: #f2f2f2;
}

/* header */

nav a{
    float: right;
    text-decoration: none;
    font-family: "raleway", sans-serif;
    Padding-top: 30px;
    color: var(--blue);
    margin-right: 40px;
}

h1{
    float: left;
    padding-left: 40px;
    padding-top: 30px;
    font-family: "raleway" , sans-serif;
    color: var(--blue);
}

nav a:active {
    border-top: 2px solid var(--blue);
}

/* search bar */

/* accomodation section */

/* card */

/* most popular */

/* image card */

/* image section */


/* footer */
/* font */

p{
    color: var(--blue);
    font-family: 'Raleway', sans-serif;

}