@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

/* set initial styles */
:root {
    --blue: #0065fc;
    --lightblue: #deebff;
    --grey: #f2f2f2;
    --black: #000;

}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-width: 900px;
   max-width: 1200px;
   margin: auto;
   padding-top: 20px;
}

.header-image{
    height: 50px;
    margin-left: -20px;
}

nav a {
    text-decoration: none;
    font-family: "raleway", sans-serif;
    Padding-top: 30px;
    color: var(--black);
    margin-right: 40px;
}


nav a:hover {
    color: var(--blue);
    border-top: 3px solid var(--blue);
}


ul{
    display: flex;

}

/*  accom */
.main-container{
    display:flex;
    height: 500px;
    justify-content: space-between;
    min-width: 900px;
    max-width: 1200px;
    margin: auto;
    margin-bottom:20px;

}

.accom-container{
    width:65%;
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 20px;
    justify-content: space-evenly;
 
}

.accom-1{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 38%;
    justify-content: space-evenly;
}

.accom-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:38%;
    background-color: red;
}

.accom-container h2{
    padding-left: 15px;
}

.accom-card{
    display:flex;
    flex-direction: column;
    background-color: white;
    width:30%;
    border-radius: 10px;
    justify-content: space-around;
    align-items: flex-start;
}

.accom-card img{
    height:60%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-top: -5px;
}

.accom-card h3 {
    padding-left: 10px;
}

.accom-card p{
    padding-left: 10px;
}

.accom-stars{
    padding-left:10px;
}

/* popular section */
.popular-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:33%;
    background-color: var(--grey);
    border-radius: 20px;

}

.heading-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
}

.heading-text i{
    font-size: 20px;
    color: var(--black);
}

/* popular card */

.popular-card{
    display: flex;
    flex-direction: row;
    margin: auto;
    width:90%;
    height:25%;
    background-color: white;
    border-radius: 20px;
}

.popular-card-text{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    width: 55%;
    padding-left: 10px;
}

.popular-card img{
    width:45%;
    object-fit: cover;
    border-radius: 20px 0px 0 20px;
    border: white solid 4px;
}

.five-stars{
    color: var(--blue)
}


/* activities */
.activities-section {
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    min-width: 900px;
    max-width: 1200px;
    margin: auto;
    height:400px;
    margin-bottom: 40px;
}

.activities-images {
    display:flex;
    height: 340px;
    flex-direction: row;
    justify-content: space-between; 
}

.image1 {
    display: flex;
    flex-direction: column;
    width:23%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    justify-content: space-evenly;   
}

.image1 img{
    height: 90%;
    margin-top: -10px;
    border-radius: 20px 20px 0px 0px;
    margin: -20px 0 0 0;
}

.image2{
    background-color: white;
    width: 23%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}



.image3{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px 20px 20px 20px;
    width: 23%;
    justify-content: space-evenly;
}

.image3 img {
    height: 90%;
    margin-top: -10px;
    border-radius: 20px 20px 0px 0px;
    margin:-10px 0 0 0;
}

.image4{
    display: flex;
    flex-direction: column;
    background-color: white;
    width:23%;
    justify-content: space-between;
}

#island{
    height: 35%;
}

#island img{
 height: 100px;
 object-fit: cover;
}

#fort{
    height: 55%;
}

#fort img{
    height: 80%;
    object-fit: cover;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45%;
    width:100%;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px 20px 20px 20px;
    
}

.card img{
    width:auto;
    height:130px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    margin: -20px 0 0 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.activity-text{
    padding-left: 10px;
}

/* footer */
footer{
    background-color: var(--grey);
    width:100%;
}

.footer-container {
    display: flex;
    min-width: 900px;
    max-width: 1200px;
    margin: auto;
    justify-content:space-between;
}

.footer-column{
    display: flex;
    flex-direction:column;
    line-height: 20pt;
    padding: 20px;
    width: 100%; 
}

h3 {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

p {
    color: var(--black);
    font-family: 'Raleway', sans-serif;
    text-align: left;

}

h2{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}



