@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

/* set initial styles */
:root {
    --blue: #0065fc;
    --lightblue: #deebff;
    --grey: #f2f2f2;
    --black: #000;

}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-width: 900px;
   max-width: 1200px;
   margin: auto;
   padding-top: 20px;
}

.header-image{
    height: 50px;
    margin-left: -20px;
}

nav a {
    text-decoration: none;
    font-family: "raleway", sans-serif;
    Padding-top: 30px;
    color: var(--black);
    margin-right: 40px;
}


nav a:hover {
    color: var(--blue);
    border-top: 3px solid var(--blue);
}


ul{
    display: flex;

}

/* activities */
.activities-section {
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    min-width: 900px;
    max-width: 1200px;
    margin: auto;
    height:400px;
}

.activities-images {
    display:flex;
    height: 340px;
    flex-direction: row;
   
    
}

.image1 {
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 20px 20px 20px 0;
    justify-content: space-around;
    
}

.image1 img{
    height: 260px;
    margin-top: -10px;
    border-radius: 20px 20px 0px 0px;
    border: 0 -20px -20px 0 ;
}

.image2{
    background-color: white;
    width: 100%;
    display:flex;
    flex-direction:column;
    margin: 20px;
}

.image3{
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px 20px 0px 0px;
    margin: 20px;
}

.image4{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin:20px 0 20px 20px;
}

/* footer */
footer{
    background-color: var(--grey);
    width:100%;
}

.footer-container {
    display: flex;
    min-width: 900px;
    max-width: 1200px;
    margin: auto;
    justify-content:space-between;
}

.footer-column{
    display: flex;
    flex-direction:column;
    line-height: 20pt;
    padding: 20px;
    width: 100%; 
}

h3 {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

p {
    color: var(--black);
    font-family: 'Raleway', sans-serif;
    text-align: left;

}

h2{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}



